.filter{
  .btn-primary {
    color: #6a0105;
    background-color: transparent;
    border-color: transparent;
  }
  .btn-primary:hover{
    color:red;
    border-color: transparent;
    border-radius: none;
    border-bottom: #6a0105 solid 1px;
    background-color: transparent;
    
  }
  .btn-primary:not(:disabled):not(.disabled).active {
    color: red;
    background-color: transparent;
    border-color: transparent;
    border-bottom: #6a0105 solid 1px;
    border-radius: 0%;
  }
  .btn-secondary {
    color: #6a0105;
    background-color: transparent;
    border: #6a0105 solid 1px;
  }
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
    padding-top: 5%;
  }
  
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
padding:1%;
  }



@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  main .container{
    max-width:100%;
    .filter{
      .btn-primary, .btn-secondary{
        font-size:30px;
      }
    } 
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  main .container{
    max-width:100%;
 
  
}
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}



  @media (min-width: 576px) {
      .modal-dialog {
    max-width: 50% !important;
    margin: 1.75rem auto;
}
  }
.modal-body img{
    width: 100%;
  }

