@import 'breakpoints';
.filterList{
  .btn-primary menuitem {
    color: #3C284A;
    background-color: transparent;
    border-color: transparent;
  }
  .btn-primary:hover{
    color:#EF5734 ;
    border-color: transparent;
    border-radius: none;
    border-bottom: #3C284A solid 1px;
    background-color: transparent;
    
  }
  .btn-primary:not(:disabled):not(.disabled).active {
    color: #EF5734 ;
    background-color: transparent;
    border-color: transparent;
    border-bottom: #3C284A solid 1px;
    border-radius: 0%;
  }
  .btn-secondary, .clearBoxe {
    color: #3C284A;
    background-color: transparent;
    border: #3C284A solid 1px;
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
     color: #3C284A; 
     background-color: none; 
     border-color: none; 
}
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;  
    padding-top: 5%;
  }
  
  #photos img {
    /* Just in case there are inline attributes */
    //width: 100% !important;
    height: 370px;
    padding: 1%;
    max-height: 370px;
    margin: auto;
    display: block;
  }



@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  main .container{
    max-width:100%;
    .filter{
      .btn-primary, .btn-secondary{
        font-size:30px;
      }
    } 
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  main .container{
    max-width:100%;
 
  
}
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}



  @media (min-width: 576px) {
      .modal-dialog {
    max-width: 80% !important;
    margin: 1.75rem auto;
}
  }
.modal-body img{
  width:50%;
  margin-left:25%
  }

  .modal-footer {
    background-color: #3C284A
  }

.btn .menuitem{
  background-color: initial;
    border: none;
    color: #3C284A;
}  


nav {
  //position: absolute;
  // top: 2rem;
   padding-top: 10px;  
  // width: 100%;
   margin:0 auto;
   //height: 3rem;
   // display: flex;
   align-items: center;
 
   @include breakpoint-small-down {
     height: 4rem;
   }

  }
 
 .logo{
   flex: 1 1;
 }
 /* header */
 
 .filterList {
   background-color: #fff;
   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
   position: fixed;
   width: 100%;
   z-index: 3;
   display:contents;
 }
 
 .filterList ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   background-color: #fff;
 }
 
 .filterList li {
   display: block;
   padding: 20px 20px;
   border-right: 1px solid #f4f4f4;
   text-decoration: none;
   .btn-primary {
    color: #3C284A;
    background-color: transparent;
    border-color: transparent;
  }
  .btn-primary:hover{
    color:EF5734 ;
    border-color: transparent;
    border-radius: none;
    border-bottom: #3C284A solid 1px;
    background-color: transparent;
    
  }
  .btn-primary:not(:disabled):not(.disabled).active {
    color: #EF5734 ;
    background-color: transparent;
    border-color: transparent;
    border-bottom: #3C284A solid 1px;
    border-radius: 0%;
  }
  .btn-secondary, .clearBoxe {
    color: #3C284A;
    background-color: transparent;
    border: #3C284A solid 1px;
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
     color: #3C284A; 
     background-color: none; 
     border-color: none; 
}
 }
 
 .filterList li:hover,
 .filterList .logo {
   display: block;
   float: left;
   font-size: 2em;
   padding: 10px 20px;
   text-decoration: none;
 }
 
 /* menu */
 
 .filterList .menu {
   clear: both;
   max-height: 0;
   transition: max-height .2s ease-out;
   align-items: center;
   justify-content: center;
   display:flex;
   text-align: center;
   flex-wrap: wrap;
   flex-direction: row;
   list-style-type: none;
 }
 
 /* menu icon */
 
 .filterList .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 18px 20px;
   position: relative;
   user-select: none;
 }
 
 .filterList .menu-icon .navicon {
   background: #333;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
 }
 
 .filterList .menu-icon .navicon:before,
 .filterList .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
 }
 
 .filterList .menu-icon .navicon:before {
   top: 5px;
 }
 
 .filterList .menu-icon .navicon:after {
   top: -5px;
 }
 
 /* menu btn */
 
 .filterList .menu-btn {
   display: none;
 }
 
 .filterList .menu-btn:checked ~ .menu {
   max-height: 100%;
 }
 
 .filterList .menu-btn:checked ~ .menu-icon .navicon {
   background: transparent;
 }
 
 .filterList .menu-btn:checked ~ .menu-icon .navicon:before {
   transform: rotate(-45deg);
 }
 
 .filterList .menu-btn:checked ~ .menu-icon .navicon:after {
   transform: rotate(45deg);
 }
 
 .filterList .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .filterList .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
   top: 0;
 }
 
 /* 48em = 768px */
 
 @media (min-width: 48em) {
  .filterList li {
     float: left;
   }
   .filterList li a {
     padding: 20px 30px;
   }
   .filterList .menu {
     clear: none;
    // float: right;
     max-height: none;
     display:flex;
   }
   .filterList .menu-icon {
     display: none;
   }
 }

/* Container holding the image and the text */


.container_image {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
  
  max-height: 370px;
}

.container_image .centered {
  text-align: center;
  position: absolute; /* Position the background text */
  bottom: 3px; /* At the bottom. Use top:0 to append it to the top */
  background: #3C284A; /* Fallback color */
 // background: hsla(0, 0%, 0%, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 98%;
  margin-left: 1%;
  padding: 20px; /* Some padding */
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  whitespace: nowrap;
  padding: 6px 12px;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  user-select: none;

  &,
  &:active,
  &.active {
    &:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }
  
  &:hover,
  &:focus,
  &.focus,
   {
    text-decoration: none;
    color: #fff;
  }
  
  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }
  
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }
  
  &.btn-xs {
    padding: 3px 6px;
    font-size: 1.2rem;
  }
  
  &.btn-sm {
    padding: 4px 8px;
    font-size: 1.3rem;
  }
  
  &.btn-lg {
    padding: 8px 16px;
    font-size: 1.6rem;
  }
  a,
  :hover{
    color:#fff
  }
}

@mixin btn-flat($active, $hover, $normal, $active-color, $color, $disabled) {
  color: $color;
  border-color: transparent;
  background: $normal;
  box-shadow: none;
  
  &:hover,
  &:focus,
  &.focus {
    border-color: transparent;
    color: #fff;
    background: $hover;
    box-shadow: none;
  }
  
  &:active,
  &.active {
    border-color: $active;
    color: $active-color;
    background: $active;
    box-shadow: none;
  }
  
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    background: $disabled;
    border-color: $disabled;
  }
}

.btn-success {
  &.btn-flat {
    @include btn-flat(#F71E05, rgb(243, 109, 79), #EF5734, #FBA359, rgb(255, 217, 187), rgb(248, 177, 118));
    
  }
}

// #grid { 
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   grid-gap: 20px;
//   align-items: stretch;
//   }
// .responsive img {
//   border: 1px solid #ccc;
//   box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
//   max-width: 100%;
//   object-fit: cover;
//   max-height: 100%;
// }

/* Flex styles -------------------------------------------------*/

/* Grid styles -------------------------------------------------*/
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  @include breakpoint-small-only {
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  }
   
}
@include breakpoint-small-down {
  #grid {
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  }
    }

    @media (max-width: 1000px){
      #grid {
        grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
      }
    }

/* Generic styles ----------------------------------------------*/

#grid {
  max-width: 960px;
  margin: 0 auto 30px;
}

.responsive {
  position: relative;
}

.responsive img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.etapes_details{
  white-space: pre-line;
}