.pagination-style{ 
 background-color: #FBA359;
 color: #fff;
 border-color: transparent;
}

.pagination-style[disabled]{
 background-color: #F71E05;
 color: #fff;
 border-color: transparent;
}

@media (max-width: 1000px) {
 .pagination-style{
  font-size:2rem;
 }
}
